/* Texto General */
html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.flex-grow-1 {
  flex: 1;
}

/* Header */
header {
  background-color: #f7f7f7;
  border-bottom: 2px solid #92d050;
  padding: 1rem 0;
}

header img {
  max-width: 20%;
}

/* Botones*/
.boton {
  background-color: #92d050;
  color: white;
  border: none;
  border-radius: 30px;
  padding: 8px 30px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.boton:hover {
  background-color: #79b73c;
}

#loginButton {
  padding: 8px 30px;
}

#searchButton {
  padding: 8px 70px;
}

#filterButton {
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#dropdownMenuButton {
  padding: 8px 30px;
}

#dropdownMenuButton:focus {
  outline: none;
  box-shadow: none;
}

/* Menu de Servidores */
.dropdown-menu {
  border: 1px solid #92d050;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.dropdown-item {
  display: flex;
  align-items: center;
}

.form-check-input {
  width: 1.25em;
  height: 1.25em;
  margin-right: 0.5em;
  border: 2px solid #92d050;
  border-radius: 0.25em;
}

.form-check-input:checked {
  background-color: #92d050;
  border-color: #92d050;
}


/* Texto Principal */
main {
  padding: 20px;
}

h1 {
  font-size: 3.5rem;
  font-weight: bold;
}

#main p {
  color: #666666;
  font-weight: bold;
  line-height: 2;
  margin-top: 20px;
}

#filterButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Formulario de Búsqueda */
form#searchForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-control {
  border-radius: 5px;
}

#filters {
  display: none;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
  width: 75%;
  border: 2px solid #ccc;
  background-color: #f7f7f7;
  border-radius: 30px;
}

/* Calendarios */
input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  height: 2em;
  width: 2em;
  margin-bottom: 15px;
}

/* Resultados de la Búsqueda */
.result-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f7f7f7;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
}

.result-item:hover {
  background-color: #e9ecef;
}

.result-header {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.result-details {
  color: #666;
  font-size: 1rem;
}

.result-details span {
  display: inline-block;
  margin-right: 1rem;
}


/* Paginación */
#pagination {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.page-button {
  margin: 0 -1px; /* Ajuste para eliminar el espacio entre botones */
  padding: 5px 14px;
  background-color: #92d050; 
  color: white;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.page-button:hover {
  background-color: #79b73c; 
}

.page-button.active {
  background-color: #5bae5e; 
}

.page-button.disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.page-button:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.page-button:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.page-button:not(:first-child):not(:last-child) {
  border-radius: 0;
}

/* Footer */
.footer {
  background-color: #f7f7f7;
  border-top: 1px solid #ccc;
  width: 100%;
  padding: 1rem 0;
}
